/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Custom props */
:root {
	--bg-color: #e4f4fd;
	--dark-color: #133041;
	--lime-color: #d8db2f;
	--text-color: #4e6e7e;
}

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Plus Jakarta Sans", Arial, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* AUTOFILL COLORS
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}  */

/* PLACEHOLDER COLOR
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
}  */

/* CONTAINER */

.container {
	width: 100%;
	max-width: 1264px;
	padding: 1rem 0;
	margin-left: auto;
	margin-right: auto;
}

/* MAIN CONTENT */
.main-content {
	flex-grow: 1;
}

/*================= App wrapper ================*/
.app {
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

/* ================= Form ================= */
.form-box {
	padding: 32px 24px;
}

/* ===========Form Header=========== */
.form-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	align-items: flex-start;
}
.form-box__heading {
	margin-top: 0;
	font-size: 1.5rem;
	line-height: 125%;
	margin-bottom: 0.5rem;
	color: var(--dark-color);
}
.form-box__link {
	text-transform: capitalize;
	text-decoration: none;
	color: var(--text-color);
	border-bottom: 1px solid var(--text-color);
	font-weight: 500;
}

/* ==============Form================== */
.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.label-style {
	color: var(--text-color);
	font-weight: 500;
	font-size: 1rem;
	line-height: 150%;
	margin-top: 0;
	margin-bottom: 0.75rem;
}

.input-group {
	display: flex;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #6b94a8;
}
.input-group span {
	display: inline-block;
	padding: 12px 16px;
	background-color: var(--bg-color);
	white-space: nowrap;
}

.input-group input {
	flex-grow: 1;
	border: none;
	padding: 12px;
	outline: none;
	font-weight: 600;
	color: var(--text-color);
	font-size: 0.875rem;
	/* height: 100%; */
}

/* ===============Row=================== */
.row {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.row .input-group {
	margin: 0;
}
.row > div {
	width: 100%;
}

/* ============Radio============= */

.radio-box {
	border: 1px solid #6b94a8;
	border-radius: 4px;
	padding: 0.75rem 1rem;
	margin-top: 12px;
}

.radio-box label {
	font-size: 1.125rem;
	color: var(--dark-color);
	display: flex;
	gap: 16px;
	cursor: pointer;
}

.radio-box input {
}

/* =======Button======= */
.btn {
	display: inline-block;
	width: 100%;
	border: none;
	border-radius: 999px;
	background-color: var(--lime-color);
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 125%;
	padding: 0;
	transition: 0.2s;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}
.btn__inner {
	width: 100%;
	padding: 1rem 2.8rem;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.btn__inner-image {
	width: 24px;
	height: 24px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

.btn__inner-image img {
	display: block;
	width: 16.5px;
	height: 19.5px;
}

/* =======Result Box======= */

.result-box {
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-color);
	color: #fff;
}
.result-box__img {
	width: 192px;
	height: 192px;
}

.result-box__img img {
	display: block;
}

.result-box__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

.result-box h2 {
	font-size: 1.5rem;
	line-height: 125%;
	margin: 0;
}

.result-box p {
	text-align: center;
	margin: 0;
	font-weight: 500;
	color: #9abed5;
}

/* RETINA BACKGROUNDS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
}

@media screen and (min-width: 768px) {
	/* ========TABLET========= */

	.container {
		padding: 40px;
	}

	/* ========== App ========== */
	.app {
		border-radius: 24px;
		overflow: hidden;
	}

	/* ========Form Box======== */

	.form-box {
		padding: 40px;
	}

	/* ==========Form box header==========*/

	/* ===========Form Header=========== */
	.form-header {
		flex-direction: row;
		margin-bottom: 2.5rem;
	}
	.form-box__heading {
		margin: 0;
	}

	/* ===============Row=================== */
	.row {
		flex-direction: row;
	}

	.row > div {
		flex: 1 1 50%;
	}
	.btn {
		max-width: 314px;
		margin-top: 1.5rem;
	}

	.btn__inner {
		gap: 12px;
		padding: 16px 40px;
	}

	/* ========== Result box =========== */

	.result-box {
		padding: 2.5rem;
	}
}
